/* Regole per la classe single-post */
.single-post {
    transition: transform 0.3s ease;
    text-decoration: none !important;
  }
  
  .single-post:hover {
    transform: scale(1.07);
  }
  
  .single-post.hovered {
    transform: scale(1.05);
  }
  
  /* Regole per l'ombra nel tema chiaro */
  .single-post.light-theme {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Regole per l'ombra nel tema scuro */
  .single-post.dark-theme {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  