.light {
    margin-left: 15px;
    margin-right: 5px;
}

.dark {
    margin-left: 20px;
}

.bg-custom {
    background-color: black;
    color: white;
}

.dark-theme {
    background-color: black !important;
    color: white;
}

.navbar .nav-item.dropdown > a::after {
    display: none !important;
  }